
.flex-container {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
}

#flex-item0 {
    -webkit-flex: 1;
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

#flex-item1 {
    -webkit-flex: 4;
    flex: 4;
    -webkit-order: 1;
    order: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: space-around;
}

#flex-item2 {
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 2;
    order: 2;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: space-around;
}

#flex-item3 {
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 1;
    order: 1;
    max-width: 90px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(0, 0, 0);
    align-content: space-between;
}

#flex-item4 {
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 2;
    order: 2;
    max-width: 90px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(0, 0, 0);
    align-content: space-between;
}

#flex-item5 {
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 3;
    order: 3;
    max-width: 90px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid rgb(0, 0, 0);
    align-content: space-between;
}









